/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,#16074b, #8b0247);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--cor-primaria);
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: #f3eaea;
  }
  
  /* Estilo do header */
  header {
    background: linear-gradient(100deg, #8b0247, #16074b);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    margin-left: 1rem;
    background: linear-gradient(45deg,#073e63, #e01b7e);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 2px solid #010e01;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.8;
  }
  
  nav a:hover {
    background-color: #073e63;
    border-color: #111311;
    transition: all 0.3s ease;
    opacity: 2;
  }
  
  h1 {
    background: linear-gradient(45deg, #f0f1f5, #e01b7e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  /* Estilo do main */
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
   .Section-form{
    margin:4.9%;
    padding: auto;
  } 
  .Cab{
    background: #f5f0f0;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article {
    background: linear-gradient(45deg, #f5f0f0, #e01b7e);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-right: 1rem;
    width: 48%;
    transition: all 0.3s ease;
    border-radius: 10px;
    
  }
  
  article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
  }
  article a {
    color: black;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #131111;
  }
  
  /* Estilo do aside */
  aside {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: auto;
    border-radius: 10px;
    opacity: 0.8;
    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:0px;
  align-items: center;
  }
  aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  aside p {
    font-size: 1rem;
    line-height: 1.5;
    color: #777;
    margin-top: 0.5rem;
  }
  
  .Teste{
    width: auto;
    padding-right: 10px;
  }
  /* Estilo do footer */
  footer {
    background: linear-gradient(100deg, #8b0247, #16074b);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: #070101;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  footer p {
    margin-right: 1rem;
    color: #010e01;
  }
  
  footer a {
    margin-right: 1rem;
    color: #fff;
  }
  
  /* Estilo responsivo */
  @media screen and (max-width: 768px) {
    main {
      flex-wrap: wrap;
      justify-content: center;
    }
    article {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
        transition: all 0.3s ease;
        }
        
        article:hover {
        transform: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        aside {
        width: 100%;
        margin-top: 1rem;
        }
        
        header {
        flex-direction: column;
        align-items: center;
        }
        
        nav a {
        margin-top: 1rem;
        }
        
        footer {
        flex-direction: column;
        text-align: center;
        }
        
        footer p {
        margin-bottom: 1rem;
        }
        }
        